body {
    margin: 0 auto;
    font-family: "Roboto", monospace;

}

/* Header settings */
header {
    background-image: linear-gradient(#fdfdfd8c, #0408f027, transparent), url("/Capstone/assets/diceHeader.png");
    background-size: cover;
    margin: auto;
    padding: 1rem 1.2rem 6rem 1.5rem;
    color: rgb(9, 9, 160);
    

}

main {
    padding: 1rem;
    
}

header h1 {
    margin: 0;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    

}

header h2 {
    margin-top: 0;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 2rem;
}

button{
    margin: 2rem;
    background-color: rgb(9, 9, 160);
    color: white;
    padding: 1rem; 
    border-radius: 1rem;
}

#topInfo{
    margin-left: 2%;

    
}

#topInfo p {
    margin: 0;
}

.messageBox {
    max-width: 30rem;
    border: 2px black solid;
    padding: 1rem 3rem;
    font-size: .5rem;
    display: none;
}

.totals {
    display: none;
    padding: .5rem 1rem;
    border: 2px black solid;
    margin-right: 2rem;

}

#intro {
    max-width: 70%;
}

#gameBoard {
    display: flex;
    justify-content: space-between;
    
}

#gameBoard h2 {
    margin: 0;
} 

#gameBoard p {
    margin:.2rem;
}

#status{
    min-height: 2rem;
    margin-left: 2%;
}

#gameBoard img {
    max-width: 100px;
    margin-left: 20px;
}
#gameBorder {
    border: 2px black solid;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 50rem;
    
}

#endBoard{
    display: block;

}

#endBoard div{
    margin-left: 1rem;
    
}

@media (max-width: 600px) {
#gameBoard {
    display: block;
}

#intro{max-width: 96%;}

button{
    margin:0 auto;
}
.messageBox {padding: 1rem;}

#gameBoard img {margin-left: 10px}

.totals{
    margin-right: 0;
}
}